body {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  font-family: Helvetica,'Open Sans', sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-bottom: 0%;
}

header {
  margin: 0.5%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

@media screen and (max-width: 600px) { 
}


#gallery_display {
  height: auto;
  overflow: hidden;
  margin: 0.5%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#album_display {
  float: left;
  width: 20%;
  height: 200px;
  margin: 0.5%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#pic_display {
  float: right;
  margin: 0.5%;
  padding: 0.5%;
  width: 75%;
  right: 0%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#pic {        /* how to center an image */ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: 600px;
}

#arrows {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* to center content inside */

  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 0.5%;
}

#info {
  margin-left: 2%;
  margin-right: 2%;
}

#next_b {
  
}

#prev_b {
  
}

footer {
  margin: 0.5%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  bottom: 0%;
}